@font-face{font-family:'MYRIADPROREGULAR';src:url('../../css/fonts/MYRIADPROREGULAR/MYRIADPROREGULAR.eot');src:url('../../css/fonts/MYRIADPROREGULAR/MYRIADPROREGULAR.eot') format('embedded-opentype'),
url('../../css/fonts/MYRIADPROREGULAR/MYRIADPROREGULAR.woff2') format('woff2'),
url('../../css/fonts/MYRIADPROREGULAR/MYRIADPROREGULAR.woff') format('woff'),
url('../../css/fonts/MYRIADPROREGULAR/MYRIADPROREGULAR.ttf') format('truetype'),
url('../../css/fonts/MYRIADPROREGULAR/MYRIADPROREGULAR.svg#MYRIADPROREGULAR') format('svg');}
#cssmenu{position:relative;height:auto;background:transparent;width:80%;margin:0 auto;}
#cssmenu > p{margin:0 !important;}
#cssmenu ul{list-style:none;padding:0;margin:0;line-height:1;height:auto;}
#cssmenu > ul{position:relative;display:flex;display:-webkit-flex;background:transparent;width:100%;float:left;z-index:500;}
#cssmenu:after,
#cssmenu > ul:after{content:".";display:block;clear:both;visibility:hidden;line-height:0;height:0;}
#cssmenu.align-right > ul > li{float:right;}
#cssmenu.align-center ul{text-align:center;}
#cssmenu.align-center ul ul{text-align:left;}
#cssmenu > ul > li{order:1;line-height:50px;vertical-align:middle;height:50px;position:relative;text-align:center;margin:0;padding:0;}
#cssmenu > ul > li:nth-child(3){flex:3;-webkit-flex:3;}
#cssmenu > ul > li:nth-child(4){flex:3;-webkit-flex:3;}
#cssmenu > ul > li:nth-child(5){flex:4;-webkit-flex:4;}
#cssmenu > ul > li:nth-child(6){flex:3;-webkit-flex:3;}
#cssmenu > ul > li:nth-child(7){flex:4;-webkit-flex:4;}
#cssmenu > ul > li:nth-child(8){flex:3;-webkit-flex:3;}
#cssmenu > ul > li:before{content:'';position:absolute;left:50%;bottom:0px;height:3px;width:0%;background:#E22029;z-index:-1;transition:width .5s ease-in-out;-o-transition:width .5s ease-in-out;-ms-transition:width .5s ease-in-out;-moz-transition:width .5s ease-in-out;-webkit-transition:width .5s ease-in-out;}
#cssmenu > ul > li:after{content:'';position:absolute;right:50%;bottom:0px;height:3px;width:0%;background:#E22029;z-index:-1;transition:width .5s ease-in-out;-o-transition:width .5s ease-in-out;-ms-transition:width .5s ease-in-out;-moz-transition:width .5s ease-in-out;-webkit-transition:width .5s ease-in-out;}
#cssmenu > ul > li:hover:before,#cssmenu > ul > li.active:before{width:50%;transition:width .5s ease-in-out;-o-transition:width .5s ease-in-out;-ms-transition:width .5s ease-in-out;-moz-transition:width .5s ease-in-out;-webkit-transition:width .5s ease-in-out;}
#cssmenu > ul > li:hover:after,#cssmenu > ul > li.active:after{width:50%;transition:width .5s ease-in-out;-o-transition:width .5s ease-in-out;-ms-transition:width .5s ease-in-out;-moz-transition:width .5s ease-in-out;-webkit-transition:width .5s ease-in-out;}
#cssmenu > ul > #menu-button{display:none;}
#cssmenu ul li a{display:block;font-family:"MYRIADPROREGULAR";text-decoration:none;}
#cssmenu > ul > li > a{display:block;font-size:16px;font-weight:bold;padding:0px 0px;color:#000000;-webkit-transition:color 0.25s ease-out;-moz-transition:color 0.25s ease-out;-ms-transition:color 0.25s ease-out;-o-transition:color 0.25s ease-out;transition:color 0.25s ease-out;text-transform:uppercase;}
#cssmenu > ul > li.has-sub > a{padding-right:32px;}
#cssmenu > ul > li:hover > a,#cssmenu > ul > li.active > a{transition:0.5s;color:red;}
#cssmenu li.has-sub::after{display:block;content:"";position:absolute;width:0;height:0;}
#cssmenu > ul > li.has-sub::after{right:10px;top:20px;border:5px solid transparent;border-top-color:#7a8189;}
#cssmenu > ul > li:hover::after{border-top-color:#ffffff;}
#indicatorContainer{display:none;position:absolute;height:0px;width:100%;bottom:0px;overflow:hidden;z-index:-1;}
#pIndicator{position:absolute;height:0;width:100%;border:12px solid transparent;border-top-color:#2b2f3a;z-index:-2;-webkit-transition:left .25s ease;-moz-transition:left .25s ease;-ms-transition:left .25s ease;-o-transition:left .25s ease;transition:left .25s ease;}
#cIndicator{display:none;position:absolute;height:0;width:100%;border:12px solid transparent;border-top-color:#2b2f3a;top:-12px;right:100%;z-index:-2;}
#cssmenu ul ul{position:absolute;left:-9999px;top:70px;opacity:0;z-index:1000;border:1px solid #ddd;}
#cssmenu ul ul ul{top:37px;}
#cssmenu ul ul li{position:relative;text-align:left;background:#ffffff;}
#cssmenu > ul > li:hover > ul{left:auto;top:50px;opacity:1;}
#cssmenu.align-right > ul > li:hover > ul{left:auto;right:0;opacity:1;}
#cssmenu ul ul li:hover > ul{left:240px;top:-1px;opacity:1;}
#cssmenu.align-right ul ul li:hover > ul{left:auto;right:170px;top:0;opacity:1;padding-right:5px;}
#cssmenu ul ul li a{width:240px;padding:10px 20px;font-size:15px;color:#000000;-webkit-transition:all .35s ease;-moz-transition:all .35s ease;-ms-transition:all .35s ease;-o-transition:all .35s ease;transition:all .35s ease;}
#cssmenu.align-right ul ul li a{text-align:right;}
#cssmenu ul ul li:hover > a{background:red;color:#fff;transition:all .35s ease;padding-left:20px;}
#cssmenu ul ul li:last-child > a,
#cssmenu ul ul li.last > a{border-bottom:0;}
#cssmenu > ul > li > ul::after{display:none;content:'';border:6px solid transparent;width:0;height:0;border-bottom-color:rgba(238,34,42,1);position:absolute;top:-12px;left:30px;}
#cssmenu.align-right > ul > li > ul::after{left:auto;right:30px;}
#cssmenu ul ul li.has-sub::after{border:4px solid transparent;border-left-color:#fff;right:10px;top:12px;-moz-transition:all .2s ease;-ms-transition:all .2s ease;-o-transition:all .2s ease;transition:all .2s ease;-webkit-transition:-webkit-transform 0.2s ease, right 0.2s ease;}
#cssmenu.align-right ul ul li.has-sub::after{border-left-color:transparent;border-right-color:#fff;right:auto;left:10px;}
#cssmenu ul ul li.has-sub:hover::after{border-left-color:#128f43;right:-5px;-webkit-transform:rotateY(180deg);-ms-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-o-transform:rotateY(180deg);transform:rotateY(180deg);}
#cssmenu.align-right ul ul li.has-sub:hover::after{border-right-color:#d8094c;border-left-color:transparent;left:-5px;-webkit-transform:rotateY(180deg);-ms-transform:rotateY(180deg);-moz-transform:rotateY(180deg);-o-transform:rotateY(180deg);transform:rotateY(180deg);}